# Dependências instaladas pelo npm
/node_modules

# Arquivos gerados pelo build
/build

# Arquivos de log
/logs

# Arquivos de configuração local
/.env

# Arquivos de cache
/.cache

# Arquivos de backup
*.bak

# Arquivos de teste
/test

# Arquivos temporários
.tmp/
.temp/
.temp-*

# Arquivos de IDE
.idea/
.vscode/